@model Testility.WebUI.Model.IndexViewModel<Testility.WebUI.Areas.Setup.Model.ReferencesViewModel>
@using Testility.WebUI.Extensions;

@{
    ViewBag.Title = "References";
}

<p class="padding-top-10">
    @Html.SaveStatusHelper()
</p>

<div class="panel panel-default">
    <div class="panel-heading">
        <div><h2><strong><span class="glyphicon glyphicon-th-list"></span> References</strong></h2></div>
    </div>
    <div class="panel-body">
        <div class="text-right padding-bottom-10">
            <a href="@Url.Action("Create")" class="btn btn-success btn-md"><span class="glyphicon glyphicon-plus"></span> Reference</a>
        </div>
        <div class="panel panel-default">
            <table class="table table-hover table-striped ">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.List, r => r.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.List, r => r.Version)
                    </th>
                    <th></th>
                </tr>
                @foreach (var item in Model.List)
                {
                    <tr>
                        <td>
                            <b>
                                @Html.DisplayFor(modelItem => item.Name)
                            </b>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Version)
                        </td>
                        <td class="text-right">
                            <div class="btn-group">

                                <a href=" @Url.Action("Edit", new { id = item.Id }) " class=" btn btn-primary btn-sm" title="Edit">
                                    <span class="glyphicon glyphicon-edit"></span>
                                </a>
                                <a href="@Url.Action("Delete", new { id = item.Id })" class="btn btn-danger btn-sm" title="Delete">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </a>
                            </div>
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
    <div class="panel-footer">
        <div class="text-center">@Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x }))</div>
    </div>

</div>
