@model Testility.WebUI.Areas.Setup.Model.ReferencesViewModel

<div>    
    <div class="panel panel-default" flow-init>
        <div class="panel-heading">
            <div><h2><strong><span class="glyphicon glyphicon-edit"></span> Reference</strong></h2></div>
        </div>
        <form action="@Url.Action("Edit", "References", new { area = "Setup"})" id="formUpload" name="formUpload"
              server-validate novalidate ng-controller="ReferencesController as ctrl" method="post">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
            @Html.EditorFor(model => model.NewFilePath, new { htmlAttributes = new { @ng_model = "ctrl.FilePath", ng_show="false" } })            
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @ng_model = "ctrl.FileName", ng_show = "false" } })
            <div class="panel-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <div class="form-control-static">
                                <b><span ng-bind="ctrl.FileName">@Html.ValueFor(model => model.Name)</span></b>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Version, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Version, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-10 col-md-offset-2">
                            <div flow-init="{ target: '/api/File/Upload', singleFile: true, chunkSize: 2000 }"
                                 flow-name="ctrl.flow"
                                 flow-file-added="ctrl.validateFile($file)"
                                 flow-file-progress="ctrl.fileUploadProgress($file.progress())"
                                 flow-files-submitted="ctrl.flow.upload()"
                                 flow-file-success="ctrl.fileUploadSuccess($message)"
                                 flow-error="ctrl.uploadError($message)">
                                <div>
                                    <span class="btn btn-default" flow-btn>Upload Library</span>
                                    <div ng-repeat="file in ctrl.flow.files" class="transfer-box">
                                        <div ng-show="file.isComplete()">
                                            <div class="col-md-12">
                                                <img src="~/Content/images/dll.png" />
                                                <b>{{file.size | bytes:2}}</b>
                                            </div>
                                            <div class="col-md-4">
                                            </div>
                                        </div>
                                        <div ng-show="file.paused || file.isUploading()">
                                            {{file.relativePath}} ({{file.size | bytes:2}}bytes)
                                            <div class="progress progress-striped" ng-class="{active: file.isUploading()}">
                                                <div class="progress-bar" role="progressbar"
                                                     aria-valuenow="{{file.progress() * 100}}"
                                                     aria-valuemin="0"
                                                     aria-valuemax="100"
                                                     ng-style="{width: (file.progress() * 100) + '%'}">
                                                    <span class="sr-only">{{file.progress()}}% Complete</span>
                                                </div>
                                            </div>
                                            <div class="btn-group">
                                                <a class="btn btn-xs btn-warning" ng-click="file.pause()" ng-show="!file.paused && file.isUploading()">
                                                    Pause
                                                </a>
                                                <a class="btn btn-xs btn-warning" ng-click="file.resume()" ng-show="file.paused">
                                                    Resume
                                                </a>
                                                <a class="btn btn-xs btn-danger" ng-click="file.cancel()">
                                                    Cancel
                                                </a>
                                                <a class="btn btn-xs btn-info" ng-click="file.retry()" ng-show="file.error">
                                                    Retry
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="panel-footer">
            <div class="table">
                <div class="td-left">
                    <a href="@Url.Action("List")">
                        <span class="glyphicon glyphicon-step-backward"></span> Back to the List
                    </a>
                </div>
                <div class="td-right">
                    <button type="submit" value="Save" class="btn btn-primary btn-lg" form="formUpload">
                        <span class="glyphicon glyphicon-floppy-disk"></span> Save
                    </button>
                </div>
            </div>
        </div>
    </div>    
</div>
