@model Testility.Domain.Entities.SourceCode
@using Testility.WebUI.Extensions;

@{
    ViewBag.Title = Model.Name;
}
<p class="list-header"></p>
<div class="panel panel-default">
    <div class="panel-heading">
        <div><h2><strong><span class="glyphicon glyphicon-edit"></span> Solution Explorer</strong></h2></div>
    </div>
    <div class="panel-body">
        <div class="text-right">
            <div class="btn-group">
                <a href="#" class="btn btn-success btn-md"><span class="glyphicon glyphicon-plus"></span> New Item</a>
                <a href="#" class="btn btn-warning btn-md"><span class="glyphicon glyphicon-folder-open"></span> Open Item</a>
                <a href="#" class="btn btn-primary btn-md"><span class="glyphicon glyphicon-plus"></span> References</a>
            </div>
        </div>
        <div>
            @using (Html.BeginForm("Edit", "SourceCodes", FormMethod.Post, new { enctype = "multipart/form-data", id = "Solution", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Id)
                <div class="form-inline padding-bottom-10 container">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Language, htmlAttributes: new { @class = "control-label" })
                        @Html.EnumDropDownListFor(model => model.Language, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Language, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="container">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="pill" href="#@Model.Name">@Model.Name</a></li>
                    </ul>
                    <div class="tab-content panel panel-default">
                        <div id="@Model.Name" class="tab-pane fade in active">                            
                            <div class="form-horizontal  padding-top-10">                                
                                <div class="form-group">
                                    <div class="col-md-12">
                                        @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control sourcecode", @rows = "25" } })
                                        @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="panel-footer">
        <div class="table">
            <div class="td-left">
                <a href="@Url.Action("Index")">
                    <span class="glyphicon glyphicon-step-backward"></span> Back to Projects Explorer
                </a>
            </div>
            <div class="td-right">
                <button type="submit" value="Save" class="btn btn-primary btn-lg" form="Solution">
                    <span class="glyphicon glyphicon-floppy-disk"></span> Save
                </button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/ide")
}


    @section css{
        @Styles.Render("~/Content/ide")
    }
