@model IEnumerable<Testility.Domain.Entities.SourceCode>
@using Testility.WebUI.Extensions;

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
    @Html.SourceCodesStatusHelper()
</p>

        @foreach (var item in Model)
        {
            <h1>Source Code:</h1>

    <table class="table table-hover .info .col-md-12">
        <tr class="success">
            <td class="col-lg-2">
                @Html.DisplayNameFor(model => model.Name)
            </td>

            <td class="col-lg-2">
                @Html.DisplayNameFor(model => model.Language)
            </td>

            <td class="col-lg-2"></td>

        </tr>
        <tr>
            <td class="col-lg-2">
                @Html.DisplayFor(modelItem => item.Name)
            </td>

            <td class="col-lg-2">
                @Html.DisplayFor(modelItem => item.ReferencedAssemblies)
            </td>

            <td class="col-lg-2">
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id }) |

                <a> Show Tested Class </a>
            </td>
        </tr>

        @Html.Partial("../_TestedClassesPartialView", item.Clasess)

    </table>
        }
          

                @section Scripts {
                    <script>

                        $(document).ready(function () {
                            $(".classes").hide();
                            $(".tests").hide();
                            $(".methods").hide();
                        });

                        $(".testedClass").click(function () {
                            if ($('.classes').is(":visible")) {
                                $(".classes").hide();
                            } else {
                                $(".classes").show();
                            }
                        });

                        $(".testedMethods").click(function () {
                            if ($('.methods').is(":visible")) {
                                $(".methods").hide();
                            } else {
                                $(".methods").show();
                            }
                        });

                        $(".testedTests").click(function () {
                            if ($('.tests').is(":visible")) {
                                $(".tests").hide();
                            } else {
                                $(".tests").show();
                            }
                        });

                    </script>
                }









