@model IEnumerable<Testility.Domain.Entities.SourceCode>
@using Testility.WebUI.Extensions;

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
    @Html.SourceCodesStatusHelper()
</p>

<div class="panel panel-primary">
    <div class="panel-heading"><strong>All Files</strong></div>
    <div class="panel-body">
        <table class="table table-hover table-bordered .col-md-12">
            <thead>
                <tr>
                    <th class="col-lg-5">
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th class="col-lg-5">
                        @Html.DisplayNameFor(model => model.Language)
                    </th>
                    <th class="col-lg-2"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    string selectedRow = "";
                    if (item.Id == ViewBag.SelecttedSourceCode)
                    {
                        selectedRow = "success";
                    }
                    <tr class="@selectedRow">
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ReferencedAssemblies)
                        </td>
                        <td class=" text-center">
                            @Html.ActionLink("Details", "Index", new { selecttedSourceCode = item.Id }) |                            
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id })                                                        
                        </td>
                    </tr>
                    if (item.Id == ViewBag.SelecttedSourceCode)
                    {
                        Html.RenderPartial("TestedClasses", item.Clasess);
                    }
                }
            </tbody>
        </table>
    </div>
 </div>




