@model Testility.WebUI.Areas.Setup.Models.ProcjetsIndexData
@using Testility.WebUI.Extensions;

@{
    ViewBag.Title = "Projects explorer";
}

<p class="list-header">
    @Html.SourceCodesStatusHelper()  
</p>

<div class="panel panel-default">
    <div class="panel-heading">
        <div><h2>Projects explorer</h2></div>
    </div>
    <div class="panel-body">
        <div class="text-right">
            <a href="@Url.Action("Create")" class="btn btn-success btn-md"><span class="glyphicon glyphicon-plus"></span> New Poject</a>
        </div>
        <table class="table table-hover table-striped col-md-12">
            <thead>
                <tr>
                    <th class="col-md-4">
                        @Html.DisplayNameFor(model => model.List, m => m.Name)
                    </th>
                    <th class="col-md-4">
                        @Html.DisplayNameFor(model => model.List, m => m.Language)
                    </th>
                    <th class="col-md-4"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.List)
                {
                    string selectedRow = "";
                    string icon = "glyphicon-folder-close";
                    if (item.Id == ViewBag.SelecttedSourceCode)
                    {
                        selectedRow = "success";
                        icon = "glyphicon-folder-open";
                    }
                    <tr class="@selectedRow">
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Language)
                        </td>
                        <td class="text-right">
                            <div class="btn-group">
                                <a href=" @Url.Action("Index", new { selecttedSourceCode = item.Id, page = Model.PagingInfo.CurrentPage }) " class=" btn btn-default btn-sm">
                                    <span class="glyphicon @icon"></span>
                                </a>
                                <a href=" @Url.Action("Edit", new { id = item.Id }) " class=" btn btn-primary btn-sm">
                                    <span class="glyphicon glyphicon-edit"></span> Edit
                                </a>
                                <a href="@Url.Action("Delete", new { id = item.Id })" class="btn btn-danger btn-sm">
                                    <span class="glyphicon glyphicon-trash"></span> Delete
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>    
    <div class="panel-footer">
        <div class="text-center">@Html.PageLinks(Model.PagingInfo, x => Url.Action("Index", new { page = x }))</div>
    </div>
 </div>





