@using Microsoft.AspNet.Identity

<!DOCTYPE html>
<html ng-app="testility">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title </title>
    @Styles.Render("~/Content/css")
    @RenderSection("css", required: false)
</head>
<body>    
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@Url.Action("Index", "Home", new { area=""})"><span class="glyphicon glyphicon-home"></span> Home</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="@Url.Action("List", "UnitTest", new { area = "" })"><span class="glyphicon glyphicon-list" /> Unit</a></li>
                    <li><a href="@Url.Action("List", "Solution", new { area = "Setup"})"><span class="glyphicon glyphicon-list" /> Projects</a></li>
                    <li><a href="@Url.Action("List", "References", new { area = "Setup"})"><span class="glyphicon glyphicon-list" /> References</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><span class="glyphicon glyphicon-search"></span> Search</a></li>
                    @if (Request.IsAuthenticated)
                    {
                        <li>
                            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                        </li>
                        <li><<a href="@Url.Action("LogOut", "Auth", new { area = "Authorization" })"><span class="" />Log off</a></li>
                    }
                    else
                    {
                        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                    }
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Testilty</p>
        </footer>
    </div>

    @{  Html.RenderPartial("_DialogBox"); }
    @Scripts.Render("~/bundles/bower_components")
    @Scripts.Render("~/bundles/testility")    
</body>
</html>
