@using Microsoft.AspNet.Identity
<ul class="nav navbar-nav">
    <li><a href="@Url.Action("Create", "UnitTest")"><span class="glyphicon glyphicon-plus" /> UnitTest</a></li>
    <li><a href="@Url.Action("Open", "UnitTest")"><span class="glyphicon glyphicon-folder-open" /> UnitTest </a></li>
    <li><a href="@Url.Action("List", "UnitTest")"><span class="glyphicon glyphicon-list" /> History</a></li>
</ul>
<ul class="nav navbar-nav navbar-right">
    <li><a href="@Url.Action("List", "Solution", new { area = "Setup"})"><span class="glyphicon glyphicon-cog"></span> Setup</a></li>
    <li><a href="#"><span class="glyphicon glyphicon-search"></span> Search</a></li>
    @if (Request.IsAuthenticated)
    {
        <li>@Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Manage", "Auth", new { area = "Authorization" }, htmlAttributes: new { title = "Manage" })</li>
        <li><a href="@Url.Action("LogOut", "Auth", new { area = "Authorization" })"><span class="glyphicon glyphicon-remove" />Logoff</a></li>
    }
    else
    {
    <li><a href="@Url.Action("Register", "Auth", new { area = "Authorization" })"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
    <li><a href="@Url.Action("LogIn", "Auth", new { area = "Authorization" })"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    }
 </ul>
    


