@model Testility.WebUI.Model.IndexViewModel<Testility.WebUI.Model.UnitTestIndexItemViewModel>
@using Testility.WebUI.Extensions;

@{
    ViewBag.Title = "UnitTests Explorer";
}

<p class="padding-top-10">
    @Html.SaveStatusHelper()
</p>
<div class="panel panel-default">
    <div class="panel-heading">
        <div><h2><strong><span class="glyphicon glyphicon-th-list"></span> UnitTests Explorer</strong></h2></div>
    </div>
    <div class="panel-body">
        <div class="text-right padding-bottom-10">
            <a href="@Url.Action("Create")" class="btn btn-success btn-md"><span class="glyphicon glyphicon-plus"></span> Project</a>
        </div>
        <div class="panel panel-default">
            <table class="table table-hover table-striped col-md-12 padding-bottom-10">
                <thead>
                    <tr>
                        <th class="col-md-8">
                            @Html.DisplayNameFor(model => model.List, s => s.SolutionName)
                        </th>
                        <th class="col-md-4"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.List)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.SolutionName)
                            </td>
                            <td class="text-right">
                                <div class="btn-group">
                                    <a href=" @Url.Action("Edit", new { id = item.Id }) " class=" btn btn-primary btn-sm" title="Edit">
                                        <span class="glyphicon glyphicon-edit"></span>
                                    </a>
                                    <a href="@Url.Action("Delete", new { id = item.Id })" class="btn btn-danger btn-sm" title="Delete">
                                        <span class="glyphicon glyphicon-trash"></span>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="panel-footer">
        <div class="text-center">@Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x }))</div>
    </div>    
</div>

@section Scripts {
    @Scripts.Render("~/bundles/angular-ui")
    @Scripts.Render("~/bundles/unit-test")
}


