@model IEnumerable<Testility.Domain.Entities.TestedMethod>


<table class="table table-hover .info col-lg-offset">
    <h3 class="">Tested Methods:</h3>
    @foreach (var item in Model)
    {
        <tr>
            <th class="col-lg-1">
                @Html.DisplayNameFor(model => model.Name)
            </th>

            <th class="col-lg-1">
                @Html.DisplayNameFor(model => model.Description)
            </th>

            <th class="col-lg-3">Options</th>
            <th class="col-lg-5">Tests</th>

        </tr>

        <tr>
            <td class="col-lg-1">
                @Html.DisplayFor(modelItem => item.Name)
            </td>

            <td class="col-lg-1">
                @Html.DisplayFor(modelItem => item.Description)
            </td>

            <td class="col-lg-1">
                @Html.ActionLink("Edit", "Edit", new {controller = "TestedMethods", id = item.Id}, new {@class = "btn btn-primary"})
                @Html.ActionLink("Delete", "Delete", new {controller = "TestedMethods", id = item.Id}, new {@class = "btn btn-primary"})
                <input type="button" value="Show Tests" class="btn btn-default"/>
            </td>

            <td>
            @{Html.RenderPartial("_TestedTestsPartialView", item.Tests);}
            </td>
        </tr>
        
               
    }
</table>