@model Testility.WebUI.Model.IndexViewModel<Testility.WebUI.Areas.Setup.Model.SolutionIndexItemViewModel>
@using Testility.WebUI.Extensions;

@{
    ViewBag.Title = "Projects Explorer";
}

<p class="padding-top-10">
    @Html.SaveStatusHelper()  
</p>
<div class="panel panel-default">
    <div class="panel-heading">
        <div><h2><strong><span class="glyphicon glyphicon-th-list"></span> Projects Explorer</strong></h2></div>
    </div>
    <div class="panel-body">
        <div class="text-right padding-bottom-10">
            <a href="@Url.Action("Create")" class="btn btn-success btn-md"><span class="glyphicon glyphicon-plus"></span> Project</a>
        </div>
        <div class="panel panel-default">
            <table class="table table-hover table-striped col-md-12 padding-bottom-10">
                <thead>
                    <tr>
                        <th class="col-md-3 col-sm-6">
                            @Html.DisplayNameFor(model => model.List, m => m.Name)
                        </th>
                        <th class="col-md-3 hidden-sm">
                            @Html.DisplayNameFor(model => model.List, m => m.Language)
                        </th>
                        <th class="col-md-3 hidden-sm">Summary</th>
                        <th class="col-md-3  col-sm-6"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.List)
                    {
                        string selectedRow = "";
                        string icon = "glyphicon-folder-close";
                        if (item.Id == ViewBag.SelecttedSolution)
                        {
                            selectedRow = "success";
                            icon = "glyphicon-folder-open";
                        }
                        <tr class="@selectedRow">
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td class="hidden-sm">
                                @Html.DisplayFor(modelItem => item.Language)
                            </td>
                            <td class="hidden-sm">@Html.DisplayFor(modelItem => item.Summary)</td>
                            <td class="text-right">
                                <div class="btn-group">
                                    <a href=" @Url.Action("List", new { selecttedSolution = item.Id, page = Model.PagingInfo.CurrentPage }) " class=" btn btn-default btn-sm" title="Details">
                                        <span class="glyphicon @icon"></span>
                                    </a>
                                    <a href=" @Url.Action("Edit", new { id = item.Id }) " class=" btn btn-primary btn-sm" title="Edit">
                                        <span class="glyphicon glyphicon-edit"></span> 
                                    </a>
                                    <a href="@Url.Action("Delete", new { id = item.Id })" class="btn btn-danger btn-sm" title="Delete">
                                        <span class="glyphicon glyphicon-trash"></span> 
                                    </a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
         </div>
    </div>    
    <div class="panel-footer">
        <div class="text-center">@Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x }))</div>
    </div>
 </div>





