@model Testility.Domain.Entities.Solution
@using Testility.WebUI.Extensions;

@{
    ViewBag.Title = Model.Name;
}
<div class="panel panel-default">
    <div class="panel-heading">
        <div><h2><strong><span class="glyphicon glyphicon-edit"></span> Solution Explorer</strong></h2></div>
    </div>
    <div class="panel-body">
        <div class="text-right">
            <div class="btn-group">
                <a href="#" class="btn btn-default btn-md"><span class="glyphicon glyphicon-plus"></span> Item </a>
                <a href="#" class="btn btn-default btn-md"><span class="glyphicon glyphicon-folder-open"></span> Item</a>
                <a href="#" class="btn btn-default btn-md"><span class="glyphicon glyphicon-plus"></span> References</a>
            </div>
        </div>
        <div>
            @using (Html.BeginForm("Edit", "Solution", FormMethod.Post, new { enctype = "multipart/form-data", id = "Solution", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Id)
                @Html.HiddenFor(model => model.ReferencedAssemblies)
                <div class="form-inline padding-bottom-10 container">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Language, htmlAttributes: new { @class = "control-label" })
                        @Html.EnumDropDownListFor(model => model.Language, htmlAttributes: new { @class = "form-control" })
                    </div>
                </div>
                <div class="container">
                    <ul class="nav nav-tabs">
                        @foreach (var item in Model.Items)
                        {
                            <li class="active"><a data-toggle="pill" href="#@item.Name">@item.Name</a></li>
                        }
                    </ul>
                    <div class="tab-content panel panel-default">
                        @{ 
                            var items = Model.Items.ToList();
                            for (int i=0; i<items.Count;i++)
                            {
                                var item = items[i];
                                @Html.Hidden("Items["+i+"].Id", item.Id, new { @id = "Items_"+i+"_Id" })
                                @Html.Hidden("Items[" + i + "].SolutionId", item.SolutionId, new { @id = "Items_"+i+"_SolutionId" })
                                <div id="@item.Name" class="tab-pane fade in active">                            
                                    <div class="form-horizontal  padding-top-10">
                                        <div class="form-group">
                                            @Html.LabelFor(model => item.Name, new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.TextBox("Items[" + i + "].Name", item.Name, new { @class = "form-control", @id = "Items_"+i+"_Name" })
                                            </div>
                                        </div>                                
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                @Html.TextArea("Items[" + i + "].Code", item.Code, new { @class = "form-control sourcecode", @rows = "25", @id= "Items_"+i+"_Code" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="panel-footer">
        <div class="table">
            <div class="td-left">
                <a href="@Url.Action("List")">
                    <span class="glyphicon glyphicon-step-backward"></span> Back to Projects Explorer
                </a>
            </div>
            <div class="td-right">
                <button type="submit" value="Save" class="btn btn-primary btn-lg" form="Solution">
                    <span class="glyphicon glyphicon-floppy-disk"></span> Save
                </button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/ide")
}
@section css{
    @Styles.Render("~/Content/ide")
}
