@model Testility.WebUI.Model.SolutionViewModel
@using Testility.WebUI.Extensions;

@{
    ViewBag.Title = "Solution Explorer";
}

<div ng-controller="SolutionController">
    <div class="alert alert-{{msg.Alert}} fade in" ng-repeat="msg in Messages">
        <a href="#" class="close" data-dismiss="alert" aria-label="close" ng-click="removeMessage($index)">&times;</a>
        <strong>{{msg.Message}}</strong>
    </div>

    <form id="Solution" method="post" name="Solution" role="form" ng-submit="submit()" novalidate>
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(false, "", new { @class = "text-danger" })

        <div class="panel panel-default">
            <input type="hidden" name="Id" id="Id" value="{{Solution.Id}}" />
            <input ng-repeat="r in Solution.References " type="hidden" name="References[{{$index}}]" id="References[{{$index}}]" value="{{r}}" />
            <div class="panel-heading">
                <div><h2><strong><span class="glyphicon glyphicon-edit"></span> Solution Explorer</strong></h2></div>
            </div>
            <div class="panel-body">
                <div class="text-right col-md-4 col-md-offset-8">
                    <div class="btn-group btn-group-justified">
                        <a ng-click="addTab()" class="btn btn-default btn-md" ng-disabled="!Loaded">
                            <span class="glyphicon glyphicon-plus"></span> Item
                        </a>
                        <a ng-click="compile()" class="btn btn-default btn-md" ng-disabled="!Loaded">
                            <span class="glyphicon glyphicon-wrench"></span> Compile
                        </a>
                        <a ui-browser config="References" items-selected="References(items)" model-size="ReferencesModelSize" class="btn btn-default btn-md" ng-disabled="!Loaded">
                            <span class="glyphicon glyphicon-plus"></span> References
                        </a>
                    </div>
                </div>
                <div>
                    <div class="form-inline padding-bottom-10 container">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @ng_model = "Solution.Name", @ng_disabled = "!Loaded" } })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Language, htmlAttributes: new { @class = "control-label" })
                            @Html.EnumDropDownListFor(model => model.Language, htmlAttributes: new { @class = "form-control", @ng_model = "Solution.Language", @convert_number = "", @ng_disabled = "!Loaded" })
                        </div>
                    </div>
                </div>
                <div>
                    <tabset>
                        <tab ng-repeat="item in Solution.Items" active="item.active" disable="item.disabled">
                            <tab-heading>{{item.Name}}<a href="" ng-click="removeTab($index)" class="glyphicon glyphicon-remove" style="position: relative; right: -13px; top: -7px"></a></tab-heading>
                            <div class="panel panel-default">
                                <input type="hidden" name="Items[{{$index}}].Id" id="Items[{{$index}}].Id" value="{{item.Id}}" />
                                <input type="hidden" name="Items[{{$index}}].SolutionId" id="Items[{{$index}}].SolutionId" value="{{item.SolutionId}}" />

                                <div class="form-horizontal  padding-top-10">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Items, i => i.Name, new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.TextBox("Items[{{$index}}].Name", "", new { @class = "form-control", @id = "Items[{{$index}}].Name", @ng_model = "item.Name" })
                                        </div>
                                    </div>
                                    <div class="padding-non" ng-controller="CodeController">
                                        <textarea ui-codemirror ng-model="code" name="Items[{{$index}}].Code" ui-create="item.active"></textarea>
                                    </div>
                                </div>
                            </div>
                        </tab>
                    </tabset>
                </div>
            </div>
            <div class="panel-footer">
                <div class="table">
                    <div class="td-left">
                        <a href="@Url.Action("List")">
                            <span class="glyphicon glyphicon-step-backward"></span> Back to Projects Explorer
                        </a>
                    </div>
                    <div class="td-right">
                        <button type="submit" value="Save" class="btn btn-primary btn-lg" form="Solution" ng-disabled="!Loaded">
                            <span class="glyphicon glyphicon-floppy-disk"></span> Save
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
@section Scripts {
	@Scripts.Render("~/bundles/solution")
}
@section css{
	@Styles.Render("~/Content/ide")
}
